body {
  background: #212121;
  color: #F3F1EB;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #F3F1EB;
  font-family: "Staatliches", cursive;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.25rem;
}

h3 {
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
}

/* ----- Navbar ----- */

.navbar {
  width: 20rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-right: 1px solid #484848;
}

.navbar .navbar-header {
  padding: 0 2rem;
}

.navbar .navbar-header .navbar-image {
  width: 100%;
  height: auto;
  box-shadow: 1px 1px 5px #000000;
}

.navbar .navbar-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 2rem;
  margin-top: 1.5rem;
}

.navbar .navbar-content .navbar-list {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.navbar .navbar-content .navbar-list .nav-item .nav-link {
  background: #212121;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #000000;
  padding: 0.4rem 0;
}

.navbar .navbar-content .navbar-list .nav-item .nav-link.active {
  color: #F3F1EB;
  font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:focus, .navbar .navbar-nav .nav-item .nav-link:active {
  color: #F3F1EB;
}

.navbar .navbar-footer {
  width: 100%;
  padding: 0 2rem;
  margin-top: 1.5rem;
}

.navbar .navbar-footer .blog-link {
  color: #F3F1EBaa;
  font-weight: bold;
  padding: 0.5rem 0;
  box-shadow: 1px 1px 5px #212121;
}

.navbar .navbar-footer .blog-link:hover {
  color: #F3F1EB;
}

.navbar .navbar-footer .blog-link>i {
  margin-left: 0.5rem;
}

/* ----- Container ----- */

.container {
  width: calc(100% - 20rem);
  max-width: calc(100% - 20rem);
  margin-left: 20rem;
}

section.resume-section {
  max-width: 75rem;
  min-height: 100vh;
  padding: 5rem !important;
  border-bottom: 1px solid #484848;
}

.first {
  text-shadow: 1px 1px 5px #000000;
}

.second {
  color: #8C8C8C;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 5px #000000;
}

.subheading {
  color: #F3F1EBaa;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.description {
  font-size: 1.15rem;
  font-weight: 400;
}

.quote {
  font-style: oblique;
  font-weight: 100;
  text-shadow: 1px 1px 5px #000000;
}

.social-icons {
  padding: 0;
}

.social-icons a {
  display: inline-block;
  background: #8C8C8C;
  color: #212121;
  font-size: 1.8rem;
  text-align: center;
  width: 3.3rem;
  height: 3.3rem;
  line-height: 3.4rem;
  margin-right: 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #212121;
  transition: all 0.5s;
}

.social-icons a:hover {
  background: #F3F1EB;
  border-radius: 50%;
  transition: all 0.5s;
}

#bio-text {
  line-height: 1.7;
  text-align: justify;
  letter-spacing: 0.5px;
}

#skillsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10rem;
}

#skillsContainer>div {
  background: #8C8C8C;
  color: #212121;
  font-weight: 400;
  text-align: center;
  padding: 5px 15px;
  margin: 6px;
  border-radius: 3px;
  transition: all 0.5s;
}

#skillsContainer>div:hover {
  background: #F3F1EB;
  cursor: default;
  transition: all 0.5s;
}

/* ----- Media Query ----- */

@media (max-width: 1300px) {
  section.resume-section {
    padding: 4rem !important;
  }
  #skillsContainer {
    padding: 0 5rem;
  }
}

@media (max-width: 1024px) {
  section.resume-section {
    padding: 3rem !important;
  }
  #skillsContainer {
    padding: 0 2.5rem;
  }
}