/* 
-----  Color Palette:
-----  Primary   : #4D4DFF
-----  Secondary : #3585FB
-----  Tertiary  : #547BF9
-----  Shade     : #EBEFFF
-----  Light     : #F4F7FF
-----  White     : #FFFFFF
-----  Dark      : #080F24
-----  Overlay   : #00E7FF
*/

body {
  color: #080F24;
  background: #F4F7FF;
  font-family: "Nunito", sans-serif;
  letter-spacing: 0.25px;
  overflow-x: hidden;
  opacity: 0;
}

/* ----- Typography ----- */
body {
  font-size: calc(0.4rem + 0.5vw + 0.5vh);
}

h1 {
  font-size: calc(0.5rem + 2.1vw + 1vh);
}

h2 {
  font-size: calc(0.5rem + 1.4vw + 1vh);
}

h3 {
  font-size: calc(0.4rem + 1vw + 0.5vh);
}

h4 {
  font-size: calc(0.4rem + 0.7vw + 0.5vh);
}

h5 {
  font-size: calc(0.4rem + 0.5vw + 0.5vh);
}

h6 {
  font-size: calc(0.3rem + 0.4vw + 0.4vh);
}

.btn {
  font-size: calc(0.3rem + 0.5vw + 0.5vh);
}

/* ----- Elements ----- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  letter-spacing: 0.5px;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #F4F7FF;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.bg-shade a,
.bg-light a,
.bg-white a {
  color: #080F24CC;
}

.bg-shade a:hover,
.bg-light a:hover,
.bg-white a:hover {
  color: #080F24;
}

.btn {
  position: relative;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: calc(0.25rem + 0.5vh) calc(0.75rem + 1vw);
  border-radius: 0.5rem;
  transition: .25s ease;
}

.btn:focus,
.btn:active {
  outline: 0;
  box-shadow: none !important;
}

.btn-light {
  color: #3585FB;
  background: #F4F7FF;
}

.btn-light:hover {
  color: #3585FB;
  background: #FFFFFF;
}

.btn-light.focus,
.btn-light.active {
  color: #3585FB;
  background: #FFFFFF;
}

.btn-outline {
  color: #F4F7FF;
  background: transparent;
  border: 1px solid #F4F7FF;
}

.btn-outline:hover {
  color: #3585FB;
  background: #F4F7FF;
}

.btn-outline.focus,
.btn-outline.active {
  color: #3585FB;
  background: #F4F7FF;
}

.fab,
.fas {
  font-size: 1.2rem;
}

/* ----- Style ----- */
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-primary {
  background: #4D4DFF !important;
}

.bg-secondary {
  background: #3585FB !important;
}

.bg-tertiary {
  background: #547BF9 !important;
}

.bg-shade {
  background: #EBEFFF !important;
}

.bg-light {
  background: #F4F7FF !important;
}

.bg-white {
  background: #FFFFFF !important;
}

.bg-dark {
  background: #080F24 !important;
}

.bg-overlay {
  background: #00E7FF !important;
  opacity: 0.2;
}

.text-primary {
  color: #4D4DFF !important;
}

.text-secondary {
  color: #3585FB !important;
}

.text-tertiary {
  color: #547BF9 !important;
}

.text-shade {
  color: #EBEFFF !important;
}

.text-light {
  color: #F4F7FF !important;
}

.text-white {
  color: #FFFFFF !important;
}

.text-dark {
  color: #080F24 !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-justify {
  text-align: justify;
}

.rounded {
  border-radius: 0.5rem !important;
}

.hide {
  opacity: 0;
}

.not-loaded {
  display: none !important;
}

/* ----- Lazy Loading ----- */
.lozad {
  opacity: 0;
}

.lozad.loading {
  opacity: 1;
  transition: 0.5s ease;
}

/* ----- Beat Animation ----- */
.beat-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  animation: beat 1.5s ease 0s infinite;
}

.beat-animation:before,
.beat-animation:after {
  content: "";
  background: #F4F7FF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: inherit;
}

.beat-animation:before {
  z-index: -2;
  animation: beat-before 1.5s ease 100ms infinite;
}

.beat-animation:after {
  z-index: -1;
  animation: beat-after 1.5s ease 200ms infinite;
}

@keyframes beat {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

@keyframes beat-before {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
}

@keyframes beat-after {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
}

/* ----- Section ----- */
.section {
  padding: 4.5rem 8rem;
}

.section .section-container {
  padding: 0;
  margin: 0 auto;
}

.section .section-container .row {
  padding: 0;
  margin: 0;
}

.section .section-container .section-title {
  font-weight: 600;
  margin-bottom: 1rem;
}

/* ----- Navigation ----- */
.navigation {
  padding: 4.5rem 8rem;
  transition: .5s ease;
}

.navigation .navbar-background {
  z-index: -1;
  transition: .5s ease;
}

.navigation.nav-bg {
  padding: 1.5rem 8rem;
}

.navigation.nav-bg .navbar-background,
.navigation.nav-bg .navbar-overlay {
  width: 100%;
  height: 6rem;
  z-index: -1;
}

.navigation.nav-bg .navbar-background {
  background: #4D4DFF;
}

.navigation .navbar {
  justify-content: space-between;
  padding: 0;
}

.navigation .navbar .navbar-brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .navbar .navbar-brand-container .navbar-brand {
  color: #F4F7FF99;
  padding: 0;
  margin: 0;
  transition: .5s ease;
}

.navigation .navbar .navbar-brand-container .navbar-brand:hover {
  color: #FFFFFF;
}

.navigation .navbar .navbar-brand-container .navbar-brand img,
.navigation .navbar .navbar-brand-container .navbar-brand i {
  width: 3rem;
  height: 3rem;
}

.navigation .navbar .navbar-brand-container .navbar-name {
  margin-left: 1.5rem;
}

.navigation .navbar .navbar-brand-container .navbar-name .first-name {
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
}

.navigation .navbar .navbar-brand-container .navbar-name .last-name {
  letter-spacing: 0.5px;
  line-height: 1;
  margin: 0;
}

.navigation .navbar .navbar-collapse-container {  
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .navbar .navbar-collapse-container .nav-item {
  position: relative;
  color: #F4F7FF99;
  margin-left: 2rem;
  letter-spacing: 0.5px;
}

.navigation .navbar .navbar-collapse-container .nav-item:focus,
.navigation .navbar .navbar-collapse-container .nav-item:hover {
  color: #FFFFFF;
}

.navigation .navbar .navbar-collapse-container .nav-item .nav-link {
  color: inherit;
  padding: 0;
  transition: .5s ease;
}

.navigation .navbar .navbar-collapse-container .nav-item.active>.nav-link,
.navigation .navbar .navbar-collapse-container .nav-item.show>.nav-link,
.navigation .navbar .navbar-collapse-container .nav-item .nav-link.active,
.navigation .navbar .navbar-collapse-container .nav-item .nav-link.show {
  color: #F4F7FF;
}

.navigation .navbar .navbar-collapse-container .nav-item .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  display: block;
  background: #F4F7FF;
}

.navigation .navbar .navbar-collapse-container .navbar-toggler {
  width: 3rem;
  height: 3rem;
  color: #F4F7FF99;
  transition: .5s ease;
}

.navigation .navbar .navbar-collapse-container .navbar-toggler .navbar-toggler-icon {
  width: 100%;
  height: 100%;
}

.navigation .navbar .navbar-collapse-container .navbar-toggler:hover {
  color: #FFFFFF;
}

.navigation .navbar .navbar-collapse-container .navbar-toggler:focus,
.navigation .navbar .navbar-collapse-container .navbar-toggler:active {
  outline: 0;
  box-shadow: none !important;
}

/* ----- Header ----- */
.header-section {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.header-section .header-section-image,
.header-section .header-section-background,
.header-section .header-section-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-section .header-section-image.shine {
  transform: scale(1.005);
}

.header-section .header-section-background {
  background: #4D4DFF;
}

.header-section .header-section-content h1,
.header-section .header-section-content h3 {
  position: relative;
}

.header-section .header-section-content h1 {
  letter-spacing: 1px;
  line-height: 1.5;
}
.header-section .header-section-social {
  position: absolute;
  left: 8rem;
  width: 3rem;
  z-index: 1;
}

.header-section .header-section-social .social-icon {
  margin-top: 1.3rem;
}

.header-section .header-section-scroll-down {
  position: absolute;
	width: 3rem;
	height: 3rem;
  left: 8rem;
  bottom: 4.5rem;
  text-align: center;
	z-index: 1;
}

.header-section .header-section-scroll-down span {
  position: relative;
  color: #F4F7FF;
	animation-name: drop;
	animation-delay: 0s;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes drop	{
  0%   { top: -5px; opacity: 0; }
  40%  { top: 10px; opacity: 1; }
  100% { top: 25px; opacity: 0; }
}

/* ----- Project ----- */
.project-section .project-container-background,
.project-section .project-container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project-section .project-item {
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-section .project-item .project-background {
  width: 80%;
  height: auto;
}

.project-section .project-item .project-desktop-image,
.project-section .project-item .project-mobile-image {
  position: absolute;
  height: auto;
  transition: .5s ease;
}

.project-section .project-item .project-desktop-image {
  width: 80%;
}

.project-section .project-item .project-mobile-image {
  width: 85%;
}

.project-section .project-item .project-info {
  position: absolute;
  text-align: center;
  max-width: 60%;
  opacity: 0.8;
  z-index: 2;
  transition: .5s ease;
}

.project-section .project-item .project-spotlight {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.project-section .project-item .project-spotlight.shine {
  opacity: 0;
  transition: 0.5s ease;
}

.project-section .project-item:hover .project-desktop-image {
  width: 85%;
}

.project-section .project-item:hover .project-mobile-image {
  width: 90%;
}

.project-section .project-item:hover .project-info {
  opacity: 1;
  transform: scale(1.05);
}

.project-section .project-item:hover .project-spotlight.shine {
  opacity: 1;
}

/* ----- Footer ----- */
.footer-section {
  position: relative;
  color: #F4F7FF;
  height: 100vh;
  overflow: hidden;
}

.footer-section .section-container {
  margin: 0;
}

.footer-section .footer-section-image,
.footer-section .footer-section-background,
.footer-section .footer-section-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-section .footer-section-background {
  background: #4D4DFF;
}

.footer-section .footer-section-content .social {
  display: flex;
}

.footer-section .footer-section-content .social .social-icon {
  width: 2.2rem;
  height: 2.2rem;
  background: #F4F7FF;
  border-radius: 50%;
  margin-right: 1rem;
}

.footer-section .footer-section-content .social .social-icon:hover {
  background: #FFFFFF;
}

.footer-section .footer-section-content .social .social-icon i {
  color: #3585FB;
}

.footer-section .footer-section-copyright {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5rem;
}

/* ----- About ----- */
.header-section .header-container {
  height: calc(100vh - 24.4rem);
}

.header-section .profile-image {
  z-index: 1;
}

.process-section .process-image {
  margin-top: 1rem;
  margin-bottom: 2rem;
  z-index: 1;
}

/* ----- Case Study ----- */
.header-section .case-study-image {
  width: 100%;
  height: auto;
}

.tools-logo {
  height: 5vh;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

/* ----- Media Query ----- */
@media (max-width: 1199px) {
  .fab,
  .fas {
    font-size: 1.1rem;
  }

  .section {
    padding: 3rem 4rem;
  }

  .navigation {
    padding: 3rem 4rem;
  }

  .navigation.nav-bg {
    padding: 1rem 4rem;
  }

  .navigation.nav-bg .navbar-background,
  .navigation.nav-bg .navbar-overlay {
    height: 4.7rem;
  }

  .navigation .navbar .navbar-brand-container .navbar-brand img,
  .navigation .navbar .navbar-brand-container .navbar-brand i {
    width: 2.7rem;
    height: 2.7rem;
  }

  .header-section .header-section-social {
    left: 4rem;
    width: 2.7rem;
  }
  
  .header-section .header-section-scroll-down {
    left: 4rem;
    bottom: 3rem;
    width: 2.7rem;
    height: 2.7rem;
  }
}

@media (max-width: 991px) {
  .navigation .navbar .navbar-collapse-container .navbar-collapse {  
    flex-basis: auto;
    margin-right: 2rem;
  }

  .navigation .navbar .navbar-collapse-container .navbar-collapse .navbar-nav {
    flex-direction: row;
  }

  .section {
    padding: 2rem 3rem;
  }

  .navigation {
    padding: 2rem 3rem;
    transition: .5s ease;
  }

  .navigation.nav-bg {
    padding: 1rem 3rem;
  }

  .navigation.nav-bg .navbar-background,
  .navigation.nav-bg .navbar-overlay {
    height: 4.4rem;
  }

  .navigation .navbar .navbar-brand-container .navbar-brand img,
  .navigation .navbar .navbar-brand-container .navbar-brand i {
    width: 2.4rem;
    height: 2.4rem;
  }

  .header-section .header-section-social {
    left: 3rem;
    width: 2.4rem;
  }
  
  .header-section .header-section-scroll-down {
    left: 3rem;
    bottom: 2rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  .header-section .case-study-image {
    width: 70%;
  }
}